.table th.text-center:first-child,
.table td.text-center:first-child {
    width: 35%;
}

.table th.text-center:nth-child(2),
.table td.text-center:nth-child(2) {
    width: 10%;
}

.table th.text-center:nth-child(3),
.table td.text-center:nth-child(3) {
    width: 35%;
}
.table th.text-center:last-child,
.table td.text-center:last-child {
    width: 20%;
}